@import 'var';
@import 'banner';
@import 'mixin';

.container {
  h3 {
    margin-top: 2rem;
    text-align: center;
  }
  .container-image {
    @include flexCenter(50vh, none);
    flex-wrap: wrap;

    div {
      @include flexCenter(40%, none);
      width: $widthThreeColumn;
      margin: 0.3%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: blur(0.1rem);
        &:hover {
          filter: blur(0);
        }
      }
    }
  }
}
