@import 'var';
@mixin flexCenter($height) {
  display: flex;
  align-content: center;
  justify-content: center;
  height: $height;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  h3 {
    margin-top: 2rem;
    text-align: center;
  }
  .container-image {
    @include flexCenter(50vh);
    flex-wrap: wrap;

    div {
      @include flexCenter(30%);
      width: $widthThreeColumn;
      margin: 0.3%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: blur(0.1rem);
        &:hover {
          filter: blur(0);
        }
      }
    }
  }
}
